<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLA" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd/MM/yyyy hh:mm:ss aa} %-5p [%c{1}]: %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>

    <logger name="com.sun.jersey">
        <level value="ALL"/>
    </logger>

    <root>
        <level value="all"/>
        <appender-ref ref="CONSOLA"/>
        <!--appender-ref ref="LOGMAIL"/-->
    </root>

</log4j:configuration>
